.menu_item {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.menu_item:hover {
    background-color: gainsboro;
}

.top_text {
    margin-inline: 10px;
    flex-basis: 50%;
    align-content: center;
}

.menu {
    border-spacing: 10px;
}

.top_bar {
    background-color: gainsboro;
    border-radius: 5px;
}

body {
    background-color: white;
    font-family: Inter, Segoe UI, sans-serif;
}